body {
  font-family: 'Montserrat', 'Arial', sans-serif;
  letter-spacing: 1px;
  color: rgb(65, 65, 65)
}

.container {
  padding-top:15px;
  padding-bottom: 15px;
}

p {
  font-size: 1.4em;
  font-weight: 300;
  line-height: 1.5em;
  margin-top: 10px;
}

h1 {
  font-size: 2.6em;
  font-weight: 800;
}

header,
footer {
  padding: 25px 0;
  color: #FFF;
  background-color:#147f90
}

header .logo {
  font-size: 20px;
  font-weight: 600;
}

header button {
  margin: 5px;
}

footer span {
  font-size: 14px;
}

table td img {
  border-radius: 5px;
}
