<!DOCTYPE html>
<html lang="pl" ng-app="tempConverter">

<head>
  <meta charset="utf-8">
  <title>Temperature Converter</title>
  <meta name="description" content="">
  <meta name="author" content="Michal Zacharzewski">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700,800&amp;subset=latin-ext" rel="stylesheet">
  <link rel="stylesheet" href="custom.css">
</head>

<body>
  <header class="container-fluid text-center" >
    <h1>Temperature Converter</h1>
  </header>


  <div ng-controller="mainController" class="container text-center temp-converter">
    <div class="row">
      <div class="col-md-12">

      <select ng-model="tempUnit" id="temp-input-unit">
          <option value="C">&deg;C</option>
          <option value="F">&deg;F</option>
          <option value="K">K</option>
      </select>

        <input ng-model="temperature" type="number" >
        <button ng-click="convertTemp()" class="btn btn-danger"> Convert </button>
      </div>

      <div class="col-md-12">
        <p>&deg;C {{ tempValues.C }}</p>
        <p>&deg;F {{ tempValues.K }}</p>
        <p>K {{ tempValues.K }}</p>
      </div>

    </div>
  </div>

  <footer class="container-fluid text-center" >
    <h5>Angular JS</h5>
  </footer>

  <!-- Scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>
  <script src="app.js">
</body>

</html>
